* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #30383f;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}
#searchBar{
	border-radius: 25px;
	text-align: center;
		text-align: center;
	padding-left: 20px;
}
.search-container{
	margin: auto;
	padding-left: 20px;
}
.iconoBusqueda{
	color: #fff;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background: #181717;
	border-top: 20px solid #D32F2F;
	color: #fff;
	padding: 50px 0;
	width: 100%;
	border-radius: 20px;
}

.principal .formulario {
	color: #212121;
	text-align: center;

}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario input[type=text].error {
	border: 5px solid #D32F2F;
	color: red;
}

.principal .formulario .boton {
	background: none;
	border: 1px solid #971e1e;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	border-radius: 25px;
}

.principal .formulario .boton:hover {
	border: 1px solid #fff;
}

/* - Tareas - */
.tareas .lista {
	list-style: none;
	text-align: center;
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
	color: #ece4e4;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
}

#resultsList{
	color: #0e0d0d;
}

.resultSearch{
	margin: 10px;
	border-radius: 20px;
	padding-left: 25px;
	background-color: #f1ebeb;
}

#btn-buscar{
	border-radius: 5px;
	background-color: #d6d4d4;
	padding-right: 10px;
	
}
