* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #1d2022;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}

#searchBar {
	border-radius: 25px;
	text-align: center;
	text-align: center;
	padding: 8px 32px;
}

.search-container {
	margin: auto;
	padding-left: 20px;
}

.iconoBusqueda {
	color: #fff;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background: #181717;
	border-top: 20px solid #D32F2F;
	color: #fff;
	padding: 50px 0;
	width: 100%;
	border-radius: 20px;
}

.principal .formulario {
	color: #212121;
	text-align: center;

}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario input[type=text].error {
	border: 5px solid #D32F2F;
	color: red;
}

/*---------------ESTILO DEL BOTON---------------*/
/*
.principal .formulario .boton {
	background: none;
	border: 1px solid #971e1e;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	border-radius: 25px;
}
*/
/*
.principal .formulario .boton:hover {
	border: 1px solid #fff;
}
*/


.principal .formulario .boton {
	background: rgb(59, 58, 58);
		cursor: pointer;
		border: none;
		padding: 10px 30px;
		color: azure;
		font-size: 13px;
		font-weight: bold;
		position: relative;
		border-radius: 12px;
}


.principal .formulario .boton:hover {
	border: 3px solid #D32F2F;
}



/* - Tareas - */
.tareas .lista {
	list-style: none;
	text-align: center;
}

.tareas .lista li {
	border-bottom: 15px solid #B6B6B6;
}

.tareas .lista li a {
	color: #fcfbfb;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
}

#resultsList {
	color: #0e0d0d;
}

.resultSearch {
	margin: 10px;
	border-radius: 20px;
	padding-left: 25px;
	background-color: #f1ebeb;
}

/*----------------BOTON PARA BUSQUEDA*/

#btn-buscar {
	background: black;
	cursor: pointer;
	border: none;
	padding: 10px 30px;
	color: azure;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	border-radius: 12px;
}

#btn-buscar:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, red, rgb(27, 27, 29), rgb(39, 32, 36), rgb(35, 35, 43), red, rgb(17, 17, 22), deeppink, rgb(33, 33, 37));
	background-size: 800%;
	border-radius: 12px;
	filter: blur(8px);
	animation: glowing 20s linear infinite;
}

.historial{
	padding-left: 50px;
}
#btn-historial {
	background: rgb(110, 1, 1);
	cursor: pointer;
	border: none;
	padding: 10px 30px;
	color: azure;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	border-radius: 12px;
}

#btn-historial:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, red, rgb(27, 27, 29), rgb(39, 32, 36), rgb(35, 35, 43), red, rgb(17, 17, 22), deeppink, rgb(33, 33, 37));
	background-size: 800%;
	border-radius: 12px;
	filter: blur(8px);
	animation: glowing 20s linear infinite;
}
#btn-volver {
	background: black;
	cursor: pointer;
	border: none;
	padding: 10px 30px;
	color: azure;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	border-radius: 12px;
}

#btn-volver:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, red, rgb(27, 27, 29), rgb(39, 32, 36), rgb(35, 35, 43), red, rgb(17, 17, 22), deeppink, rgb(33, 33, 37));
	background-size: 800%;
	border-radius: 12px;
	filter: blur(8px);
	animation: glowing 20s linear infinite;
}
@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}
